img {
    border: 1px solid #000000;
}

h1 , h2{
    text-align: center;
}

.websites {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.item {
  width: clamp(220px, 25vw, 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item img {
  width: 100%;
  height: auto;
  display: block;
}

.item p {
  margin-top: 10px;
  text-align: center;
}